/* Global Styles */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img { 
    max-width: 100%; 
    height: auto; 
}


/* Font Classes */

.intel-one-mono-normal {
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.intel-one-mono-bold {
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: none;
}

.intel-one-mono-italic {
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

.intel-one-mono-light {
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: none;
}



/* Color Classes */

.bg-primary {
    background-color: #0d1b2a;
    color: white;
}



/* Sizing for logos */

.lang-logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.social-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.large-img {
    max-height: 500px;
    object-fit: contain;
}



/* Flexbox for navigation bar */

.navbar {
    display: flex;
    justify-content: center;
    a {
        color: #E0E1DD;
        background-color: #1B263B;
        text-decoration: none;
        text-align: center;
        flex: 1;
        padding: 20px;
        border: 3px solid #B3AF8F;
        font-size: 1.2em;
    }
    a:not(:last-child) {
      border-right: none; 
    }

    a:hover {
      background-color: #253759; 
    }
}



/* Footer Styles */

.footer {
    margin-top: auto; 
    text-align: left;
    padding: 10px;
    background-color: #1B263B;
    color: #E0E1DD;
    word-spacing: 15px;
    float: bottom;
}

@media screen and (max-width: 1000px) {
    .footer {
        text-align: center;
        font-size: 0.8em;
    }
}

/* Header Styles */

.main-header {
    margin-top: 2%;
    text-align: center;
    font-size: 2.5em;
    color: #E0E1DD;
}

.sub-header {
    text-align: center;
    font-size: 1.5em;
    color: #e0e1dda7;
}

/* about me page styles */

.abt-me-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1B263B;
    border-radius: 10px;
    color: #E0E1DD;
    font-size: 1.0em;
    line-height: 1.6;
}

.abt-me {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 10%;
    .large-img {
        margin-right: 30px;
        border: 3px solid #B3AF8F; 
    }
    .content {
        margin-top: 20px;
        color: #e0e1dda7;
    }
}

@media (max-width: 1000px) {
    .abt-me {
        flex-direction: column-reverse;
        .large-img {
            margin: 0 0 20px 0;
            flex-shrink: 0;
            min-width: 325px;
            height: auto;
            object-fit: contain;
            align-self: center;
        }
    .abt-me-content{
        text-align: center;
    }
    }
}



/* skills page styles */

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    padding: 2%;
    list-style: none;
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    li{ 
        margin-bottom: 4%;
    }
}



/* projects page styles */

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 3px solid #B3AF8F;
}

.projects-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
    list-style: none;
    align-items: stretch;
}

.project-content {
    background-color: white;
    color: black;
    margin-top: 1rem;
    padding: 1rem;
    border: 2px solid #B3AF8F;
    text-align: center;
    justify-content: flex-end;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.project-item {
    display:flex;
    background-color: #1B263B;
    border: 2px solid #B3AF8F;
    width: 300px;
    padding: 1rem;
    text-align: center;
    flex-direction: column;
    height: 100%;
    a {
        text-decoration: none;
        color: inherit;
    }
}